<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding">
    <ion-text class="titulo_principal">Attendify</ion-text>
    <div class="ion-text-center">
      <ion-text class="titulo_secundario">Clase registrada</ion-text>
    </div>
  </div>

  <!-- <div class="ion-text-center ion-padding"> 
     <img *ngIf="selfieImageSrc" [src]="selfieImageSrc" alt="Selfie">
  </div> -->
  <br>
  <div *ngIf="capturedPhoto">
    <img [src]="capturedPhoto.webPath" alt="Foto capturada">
    <br>
    <ion-button (click)="borrarFoto()">Eliminar Foto</ion-button>
  </div>
  <br>

  <div *ngIf="loggedInUser" class="ion-text-start">
    <ion-text class="usuario">Hola, {{ loggedInUser.name }} {{ loggedInUser.lname }}</ion-text>
    <div>
      <ion-text class="rut_usuario">Rut: {{ loggedInUser.rut }}</ion-text><br>
      <ion-text class="rut_usuario">------------------------</ion-text>
    </div>
  </div>
  <br>

  <div class="ion-text-start" *ngIf="qrData">
    <ion-text class="usuario">Profesor: {{ qrData.profesor }}</ion-text><br>
    <ion-text class="usuario">Hora de Clase: {{ qrData.horaclase }}</ion-text><br>
    <ion-text class="usuario">Sala: {{ qrData.sala }}</ion-text><br>
    <ion-text class="usuario">Dia: {{ qrData.dia }}</ion-text><br>
    <ion-text class="rut_usuario">------------------------</ion-text><br>
    <ion-text class="coordenadas">Coordenadas:</ion-text><br>
    <ion-text class="coordenadas">Latitud: {{ latitud }}</ion-text><br>
    <ion-text class="coordenadas">Longitud: {{ longitud }} </ion-text>
  </div>
  <br>
  <div >
    <ion-button class="button-primary" (click)="tomarFoto()">Tomar Selfie</ion-button>
  </div>

  <div class="div_volver">
    <a class="link_volver" (click)="iraInicio()">Cerrar sesión y volver al inicio</a>
  </div>

</ion-content>