<ion-content>
  <div class="splash-container">
    <div class="ion-text-center">
      <p></p>
      <ion-text class="titulo_principal">ERROR DE ACCESO</ion-text>
      <p></p>

      <div class="ion-text-center">
        <ion-text class="titulo_secundario">Parece que no tiene acceso a esta página. 
          Por favor, vuelva el menú e intente de nuevo.</ion-text>
        <p></p>
      </div>

    </div>
    <ion-button expand="full" class="ion-text-center" color="primary" (click)="iraInicio()">Volver al inicio</ion-button>
  </div>
</ion-content>
